In [1]:
from sklearn.linear_model import LinearRegression

In [2]:
reg = LinearRegression()

In [5]:
X = [ [2], [3], [4], [7], [9]]
Y = [80, 83, 88, 92, 99]

reg.fit(X,Y)

LinearRegression()

In [9]:
reg.predict([[1]])

array([78.28235294])

In [98]:
#ALL THE ABOVE LINES ARE DEMO OF LINEAR REGRESSION


#ALL THE BELOW LINES ARE ACTUAL PRACTICAL

In [10]:
#Data Analytics I

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [11]:
df = pd.read_csv("housing_data.csv")

In [12]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [13]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [73]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [74]:
nc = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
for col in nc:
    df[col].fillna(df[col].median(), inplace= True)

In [75]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [76]:
x = df[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']]
y = df[['MEDV']]

In [77]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
312,0.26169,0.0,9.90,0.0,0.544,6.023,90.4,2.8340,4,304,18.4,396.30,11.72
328,0.06617,0.0,3.24,0.0,0.460,5.868,25.8,5.2146,4,430,16.9,382.44,9.97
251,0.21409,22.0,5.86,0.0,0.431,6.438,8.9,7.3967,7,330,19.1,377.07,3.59
205,0.13642,0.0,10.59,0.0,0.489,5.891,22.3,3.9454,4,277,18.6,396.90,10.87
231,0.46296,0.0,6.20,0.0,0.504,7.412,76.9,3.6715,8,307,17.4,376.14,5.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,1.23247,0.0,8.14,0.0,0.538,6.142,91.7,3.9769,4,307,21.0,396.90,18.72
72,0.09164,0.0,10.81,0.0,0.413,6.065,7.8,5.2873,4,305,19.2,390.91,5.52
493,0.17331,0.0,9.69,0.0,0.585,5.707,54.0,2.3817,6,391,19.2,396.90,12.01
15,0.62739,0.0,8.14,0.0,0.538,5.834,56.5,4.4986,4,307,21.0,395.62,8.47
168,2.30040,0.0,19.58,0.0,0.605,6.319,96.1,2.1000,5,403,14.7,297.09,11.10

In [78]:
x_train.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [79]:
x_train.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [80]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.25, random_state=2)

In [81]:
model = LinearRegression()

In [93]:
model.fit(x_train, y_train)

LinearRegression()

In [94]:
y_pred = model.predict(x_test)

In [95]:
model.score(x_test, y_test)

0.7312534154441102

In [96]:
model.score(x_train, y_train)

0.7296066575537966

In [97]:
np.sqrt(mean_squared_error(y_test, y_pred))

4.8838141631184016